body,html {
font-family: helvetica;
margin: 0;
top: 0;
}

header{
    z-index: 9999;
    position: absolute;
    position: fixed;
    background-color: #175073;
    width: 100%;
    text-align: center;
}
header img{
    width: 60px;
    height: 40px;
}
header h1 , img{
   
    display: inline-block;
}
header h1{
    color: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style: none;
  margin: 0 auto;
}
nav {
    position: relative;
  background-color: #2275a9;
}

ul a {
  display: block;
  margin: 0;
  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

ul a:hover {
  background: #175073;
}

nav li {
display: inline-block;
  width: 20%;
}

nav li:last-child {
  border-right: none;
}




button{
    margin: 0 10px 0 0;
    padding:5px 15px;
    color: #303030;
    background: #f8c323;
    border: 0px;
}
#topbar2{
    top: 0;
    margin: 0;
    height: 800px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #303030;
   /* -moz-box-shadow:5px 1px 5px 5px black;
    -webkit-box-shadow:5px 1px 5px 5px black;
    box-shadow:5px 1px 5px 5px black;*/
}

#mainslide{
    width: 800px;
    height: 500px;
    display: block;
    position: relative;
    top: 150px;
    margin: auto;
}
#slider{
    width: 800px;
    height: 500px;
    display: block;
    position: absolute;
    overflow: hidden;
}
.info{
    width: 800px;
    height: 80px;
    display: block;
    position: relative;
    bottom: 400px;
    z-index: 99;
}
.info H1{
    font-weight: bold;
    font-size: 40px;
    color: white;
   margin-left: 250px;
}
.info p{
    text-align-last: right;
    font-weight: lighter;
    font-size: 15px;
    color: white;
    margin-left: 250px;
}
.info a{
    color: white;
}
#next{
    width: 500px;
    height: 500px;
    text-align: right;
    display: block;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 200px;
    right: 0;
}
#prev{
    width: 500px;
    height: 500px;
    text-align: right;
    display: block;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 200px;
    right: 750px;
}
#pager{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 450px;
    z-index: 999;
}
#pager a{
    font-size: .0em;
    color: transparent;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    border: 1px solid white;
    border-radius: 20px;
    background: transparent;
    margin: 10px;
}
#pager a.activeSlide {
    background: white;
}



h3{
    text-align: center;
}
h3 a{
    text-decoration: none;
    color:#303030;
}

hr{
    width: 80%;
   border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#packages{
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.boxed1 a{
    color: white;
}
.packages2{
    background-color: #f8c323;
    
}
.boxed1{
    margin-left: 5%;
    margin-top: 3%;
    background-image: url(images/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 212px;
    transition: background-color 0.5s ease;
    width: 350px;
    height: 425px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed1 p{
    font-family: helvetica;
    text-align: center;
    font-size: 40px;
    padding-top:325px;
}
.boxed2 a{
    color: white;
}

.boxed2{
    margin-left: 5%;
    margin-top: 3%;
    background-image: url(images/icon2.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.5s ease;
    background-size: 325px 312px;
    width: 350px;
    height: 425px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed2 p{
    font-family: helvetica;
    text-align: center;
    font-size: 40px;
    padding-top:325px;
}
.boxed3 a{
    color: white;
}

.boxed3{
    margin-left: 5%;
    margin-top: 3%;
    background-image: url(images/icon3.png);
    background-repeat: no-repeat;
    background-position: center;
     background-size: 335px 212px;
    transition: background-color 0.5s ease;
    width: 350px;
    height: 425px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed3 p{
    font-family: helvetica;
    text-align: center;
    font-size: 40px;
    padding-top:325px;
}
#aboutusandpic{
    display: flex;
    flex-wrap: wrap;
}

#aboutus p,h1{
    margin-left: 2%;
}
#aboutus{
    margin-left: 1%;
    word-wrap: break-word;
    width: 55%;
    height: 50%
    max-width: 100%;
    min-height: 100%;
    background-color: white;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
#aboutuspic{
    margin-left: 5%;
    margin-top: 3%;
    width: 453px;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
}



@media screen and (max-width: 480px)
{

.hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-radius: 5px;
    border-bottom: 4px solid white;
    width: 35px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  
  .slide-down {
    height: 250px;
  }
    
#mainslide{
    width: 350px;
    height: 250px;
    display: block;
    position: relative;
    top: 150px;
    margin: auto;
}
#slider{
    width: 350px;
    height: 250px;
    display: block;
    position: absolute;
    overflow: hidden;
}
    #slider img{
     width: 400px;
    height: 250px;
    }
.info{
    width: 350px;
    height: 80px;
    display: block;
    position: relative;
    bottom: 200px;
    z-index: 99;
}
.info H1{
    font-weight: bold;
    font-size: 20px;
    color: white;
   margin-left: 125px;
}
.info p{
    text-align-last: right;
    font-weight: lighter;
    font-size: 10px;
    color: white;
    margin-left: 125px;
}
.info a{
    color: white;
}
#next{
    width: 500px;
    height: 500px;
    text-align: right;
    display: block;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 120px;
    right: 0;
}
#prev{
    width: 500px;
    height: 500px;
    text-align: right;
    display: block;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 120px;
    right: 350px;
}
    
#pager{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 250px;
    z-index: 999;
}
#pager a{
    font-size: .0em;
    color: transparent;
    width: 5px;
    height: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid white;
    border-radius: 20px;
    background: transparent;
    margin: 10px;
}
#pager a.activeSlide {
    background: white;
}

    
    
    
    
    
    
    
#topbar2{
    height: 480px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #303030;
    position: relative;
    /*-moz-box-shadow:5px 1px 5px 5px black;
    -webkit-box-shadow:5px 1px 5px 5px black;
    box-shadow:5px 1px 5px 5px black;*/
}
#packages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#aboutus h1, p{
        margin: auto;
        text-align: center;
}
 #aboutus{ 
    margin: auto;
    word-wrap: break-word;
    width: 85%;
    height: 50%
    max-width: 100%;
    min-height: 100%;
    background-color: white;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
 }
#aboutuspic{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 20%;
}
    .boxed1 a{
    color: white;
}

.boxed1{
    margin:auto;
    margin-top: 3%;
    background-image: url(images/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 106px;
    transition: background-color 0.5s ease;
    width: 175px;
    height: 212.5px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed1 p{
    font-family: helvetica;
    text-align: center;
    font-size: 17px;
    padding-top:185px;
}
.boxed2 a{
    color: white;
}

.boxed2{
    margin:auto;
    margin-top: 3%;
    background-image: url(images/icon2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 162px 156px;
    transition: background-color 0.5s ease;
     width: 175px;
    height: 212.5px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed2 p{
    font-family: helvetica;
    text-align: center;
    font-size: 17px;
    padding-top:185px;
}
.boxed3 a{
    color: white;
}

.boxed3{
    margin: auto;
    margin-top: 3%;
    background-image: url(images/icon3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 167px 106px;
    transition: background-color 0.5s ease;
    width: 175px;
    height: 212.5px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed3 p{
    font-family: helvetica;
    text-align: center;
    font-size: 17px;
    padding-top:185px;
}
}

@media screen and (min-width: 481px) and (max-width: 750px)
{
    
    .hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-radius: 5px;
    border-bottom: 4px solid white;
    width: 35px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  
  .slide-down {
    height: 250px;
  }
    
#mainslide{
    width: 600px;
    height: 350px;
    display: block;
    position: relative;
    top: 150px;
    margin: auto;
}
#slider{
    width: 600px;
    height: 350px;
    display: block;
    position: absolute;
    overflow: hidden;
}
    #slider img{
     width: 600px;
    height: 350px;
    }
.info{
    width: 600px;
    height: 80px;
    display: block;
    position: relative;
    bottom: 200px;
    z-index: 99;
}
.info H1{
    font-weight: bold;
    font-size: 30px;
    color: white;
   margin-left: 125px;
}
.info p{
    text-align-last: right;
    font-weight: lighter;
    font-size: 15px;
    color: white;
    margin-left: 125px;
}
.info a{
    color: white;
}
#next{
    width: 500px;
    height: 500px;
    text-align: right;
    display: block;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 120px;
    right: 0;
}
#prev{
    width: 500px;
    height: 500px;
    text-align: right;
    display: block;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 120px;
    right: 600px;
}
    
#pager{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 350px;
    z-index: 999;
}
#pager a{
    font-size: .0em;
    color: transparent;
    width: 7px;
    height: 7px;
    display: inline-block;
    position: relative;
    border: 1px solid white;
    border-radius: 20px;
    background: transparent;
    margin: 10px;
}
#pager a.activeSlide {
    background: white;
}

    
    

    #topbar2{
    height: 600px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #303030;
    /*-moz-box-shadow:5px 1px 5px 5px black;
    -webkit-box-shadow:5px 1px 5px 5px black;
    box-shadow:5px 1px 5px 5px black;*/
    }
    #packages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }

    #aboutus h1, p{
        margin: auto;
        text-align: center;
    }
    #aboutus{ 
    margin: auto;
    word-wrap: break-word;
    width: 85%;
    height: 50%
    max-width: 100%;
    min-height: 100%;
    background-color: white;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
    }
    #aboutuspic{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 20%;
}
    .boxed1 a{
    color: white;
}

.boxed1{
    margin:auto;
    margin-top: 3%;
    background-image: url(images/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 106px;
    transition: background-color 0.5s ease;
    width: 175px;
    height: 212.5px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed1 p{
    font-family: helvetica;
    text-align: center;
    font-size: 17px;
    padding-top:185px;
}
.boxed2 a{
    color: white;
}

.boxed2{
    margin:auto;
    margin-top: 3%;
    background-image: url(images/icon2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 162px 156px;
    transition: background-color 0.5s ease;
     width: 175px;
    height: 212.5px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed2 p{
    font-family: helvetica;
    text-align: center;
    font-size: 17px;
    padding-top:185px;
}
.boxed3 a{
    color: white;
}

.boxed3{
    margin: auto;
    margin-top: 3%;
    background-image: url(images/icon3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 167px 106px;
    transition: background-color 0.5s ease;
    width: 175px;
    height: 212.5px;
    background-color: #303030;
    -moz-box-shadow:5px 1px 10px 5px grey;
    -webkit-box-shadow:5px 1px 10px 5px grey;
    box-shadow:5px 1px 10px 5px grey;
}
.boxed3 p{
    font-family: helvetica;
    text-align: center;
    font-size: 17px;
    padding-top:185px;
}
    
}
@media screen and (min-width: 751px) and (max-width: 1000px)
{
    ul a {
  display: block;
  margin: 0;
  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
    }
nav li {
display: inline-block;
  width: 20%;
}
}

